---
title: License
layout: base
body_class: home
---

%header.jumbotron.subhead#overview
  .container
    %h1 Licenses
    %p
      and other legal bits
.container
  .row
    .span3.toc-block
      %ul.nav.nav-list.toc{ :"data-spy"=>"affix", :"data-offset-top"=>"160" }
        %li
          %a{ :href=>"#copyright" } Copyright
        %li
          %a{ :href=>"#software_licenses" } Software licenses
        %li
          %a{ :href=>"#website_license" } Website license
        %li
          %a{ :href=>"#trademarks" } Trademarks
    .span9
      %section#copyright
        .page-header
          %h1 Copyright
        %p
          The #{site.title} software is copyright 2008 - #{Date.today.year} by <a href="http://redhat.com/">Red Hat, Inc.</a>
        %p
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus tempus lacus ut sapien venenatis ac egestas turpis convallis. In tincidunt vestibulum consectetur. Pellentesque eget gravida nibh. Vestibulum id mi iaculis urna vestibulum bibendum. Mauris est odio, tempor vestibulum feugiat vel, convallis at nisl. Vestibulum tortor sem, feugiat eget tempus vel, ultricies sed magna. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Suspendisse potenti. Donec mollis tellus quis enim mollis dignissim. Phasellus lorem turpis, euismod vel tristique ac, consequat sit amet ipsum. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
        %p
          Mauris vulputate augue eget turpis aliquam eu tincidunt quam vestibulum. Donec vel rhoncus risus. Cras ac risus at orci dictum mattis feugiat vel lorem. Duis eget metus elit. Donec fringilla lectus eget diam iaculis volutpat. Nulla sit amet egestas magna. Nulla sed odio eu massa convallis consequat sed nec lorem. Morbi cursus, mi fringilla vulputate tempus, est massa malesuada metus, eu lobortis eros libero id neque.
        %p
          Pellentesque et dui dolor, ut commodo arcu. Morbi viverra cursus nunc, quis hendrerit metus fringilla nec. Nunc elit nisl, dapibus eget suscipit in, gravida ut risus. Donec ullamcorper mollis turpis non dictum. Duis at orci justo, vel gravida velit. Mauris mi mi, tempor ut bibendum eu, vestibulum ac risus. Quisque vel leo metus, a eleifend sapien. Sed ac augue risus, at dictum justo. Aenean pulvinar, orci vel malesuada vehicula, lacus justo pulvinar lorem, nec auctor enim erat a urna.
      %section#software_licenses
        .page-header
          %h1 Software licenses
        %p
          The #{site.title} is a community-driven open source project. Several of its developers
          are employed by Red Hat, Inc., but the project strives to be a good open-source citizen.
          All of the #{site.title} source code is licensed under the <a href="/license-lgpl.txt">LGPL 2.1</a>,
          with the exception of its WebDAV Servlet library that is licensed under the
          <a href="/license-asl.txt">ASL 2.0</a>. #{site.title} depends on other source libraries,
          some of which are licensed under the ASL.
        %p
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus tempus lacus ut sapien venenatis ac egestas turpis convallis. In tincidunt vestibulum consectetur. Pellentesque eget gravida nibh. Vestibulum id mi iaculis urna vestibulum bibendum. Mauris est odio, tempor vestibulum feugiat vel, convallis at nisl. Vestibulum tortor sem, feugiat eget tempus vel, ultricies sed magna. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Suspendisse potenti. Donec mollis tellus quis enim mollis dignissim. Phasellus lorem turpis, euismod vel tristique ac, consequat sit amet ipsum. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
        %p
          Mauris vulputate augue eget turpis aliquam eu tincidunt quam vestibulum. Donec vel rhoncus risus. Cras ac risus at orci dictum mattis feugiat vel lorem. Duis eget metus elit. Donec fringilla lectus eget diam iaculis volutpat. Nulla sit amet egestas magna. Nulla sed odio eu massa convallis consequat sed nec lorem. Morbi cursus, mi fringilla vulputate tempus, est massa malesuada metus, eu lobortis eros libero id neque.
        %p
          Pellentesque et dui dolor, ut commodo arcu. Morbi viverra cursus nunc, quis hendrerit metus fringilla nec. Nunc elit nisl, dapibus eget suscipit in, gravida ut risus. Donec ullamcorper mollis turpis non dictum. Duis at orci justo, vel gravida velit. Mauris mi mi, tempor ut bibendum eu, vestibulum ac risus. Quisque vel leo metus, a eleifend sapien. Sed ac augue risus, at dictum justo. Aenean pulvinar, orci vel malesuada vehicula, lacus justo pulvinar lorem, nec auctor enim erat a urna.

      %section#website_license
        .page-header
          %h1 Website license
        %p
          The website content and assets are licensed under a <a href="http://creativecommons.org/licenses/by/3.0/">Creative Commons Attribution 3.0 Unported License</a>.
        %p
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus tempus lacus ut sapien venenatis ac egestas turpis convallis. In tincidunt vestibulum consectetur. Pellentesque eget gravida nibh. Vestibulum id mi iaculis urna vestibulum bibendum. Mauris est odio, tempor vestibulum feugiat vel, convallis at nisl. Vestibulum tortor sem, feugiat eget tempus vel, ultricies sed magna. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Suspendisse potenti. Donec mollis tellus quis enim mollis dignissim. Phasellus lorem turpis, euismod vel tristique ac, consequat sit amet ipsum. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
        %p
          Mauris vulputate augue eget turpis aliquam eu tincidunt quam vestibulum. Donec vel rhoncus risus. Cras ac risus at orci dictum mattis feugiat vel lorem. Duis eget metus elit. Donec fringilla lectus eget diam iaculis volutpat. Nulla sit amet egestas magna. Nulla sed odio eu massa convallis consequat sed nec lorem. Morbi cursus, mi fringilla vulputate tempus, est massa malesuada metus, eu lobortis eros libero id neque.
        %p
          Pellentesque et dui dolor, ut commodo arcu. Morbi viverra cursus nunc, quis hendrerit metus fringilla nec. Nunc elit nisl, dapibus eget suscipit in, gravida ut risus. Donec ullamcorper mollis turpis non dictum. Duis at orci justo, vel gravida velit. Mauris mi mi, tempor ut bibendum eu, vestibulum ac risus. Quisque vel leo metus, a eleifend sapien. Sed ac augue risus, at dictum justo. Aenean pulvinar, orci vel malesuada vehicula, lacus justo pulvinar lorem, nec auctor enim erat a urna.
      %section#trademarks
        .page-header
          %h1 Trademarks
        %p
          The #{site.title} name, logo and other marks are trademarks of Red Hat, Inc.
          and may not be used without prior written permission.
        %p
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus tempus lacus ut sapien venenatis ac egestas turpis convallis. In tincidunt vestibulum consectetur. Pellentesque eget gravida nibh. Vestibulum id mi iaculis urna vestibulum bibendum. Mauris est odio, tempor vestibulum feugiat vel, convallis at nisl. Vestibulum tortor sem, feugiat eget tempus vel, ultricies sed magna. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Suspendisse potenti. Donec mollis tellus quis enim mollis dignissim. Phasellus lorem turpis, euismod vel tristique ac, consequat sit amet ipsum. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
        %p
          Mauris vulputate augue eget turpis aliquam eu tincidunt quam vestibulum. Donec vel rhoncus risus. Cras ac risus at orci dictum mattis feugiat vel lorem. Duis eget metus elit. Donec fringilla lectus eget diam iaculis volutpat. Nulla sit amet egestas magna. Nulla sed odio eu massa convallis consequat sed nec lorem. Morbi cursus, mi fringilla vulputate tempus, est massa malesuada metus, eu lobortis eros libero id neque.
        %p
          Pellentesque et dui dolor, ut commodo arcu. Morbi viverra cursus nunc, quis hendrerit metus fringilla nec. Nunc elit nisl, dapibus eget suscipit in, gravida ut risus. Donec ullamcorper mollis turpis non dictum. Duis at orci justo, vel gravida velit. Mauris mi mi, tempor ut bibendum eu, vestibulum ac risus. Quisque vel leo metus, a eleifend sapien. Sed ac augue risus, at dictum justo. Aenean pulvinar, orci vel malesuada vehicula, lacus justo pulvinar lorem, nec auctor enim erat a urna.
