!!!5
%html{lang:'en'}
  %head
    %meta{ :charset=>'utf-8' }
    %title= (page.title ? [page.title, page.site_title ? page.site_title : site.title] : [site.title, site.tagline]) * ' &#183; '
    %meta{ :name=>'viewport', :content=>'width=device-width, initial-scale=1.0' }
    :css
      body {
        padding-top: 60px;
      }
    %link{ :rel=>'stylesheet', :type=>'text/css', :href=>"#{site.base_url}/stylesheets/styles.css" }
    
    /= google_analytics_async if site.profile.add_google_tracker
    
    - if page.stylesheets
      - page.stylesheets.each do |stylesheet|
        %link(rel='stylesheet' href=stylesheet)
    /[if lt IE 9]
      %script(src='//cdnjs.cloudflare.com/ajax/libs/html5shiv/r29/html5.js')
    - if page.javascripts
      - page.javascripts.each do |javascript|
        %script{:src=>javascript}
    %link(rel='shortcut icon' href='/favicon.ico')
  %body{ :"data-spy"=>"scroll", :"data-target"=>".toc-block"}
    .navbar.navbar-inverse.navbar-fixed-top
      .navbar-inner
        .container
          %button.btn.btn-navbar{:type=>"button", :data=>{:toggle=>'collapse', :target=>'.nav-collapse'}}
            - (1..3).each do
              %span.icon-bar
          %a.brand{ :href=>"/" } #{site.title}
          %nav.nav-collapse(role='navigation')
            %ul.nav
              %li
                %a{ :href=>"/features/" } Features
              %li
                %a{ :href=>"/blog/" } Blog
              %li
                %a{ :href=>"/download/" } Download
              %li
                %a{ :href=>"/license/" } License
              %li
                %a{ :href=>"/docs/" } Documentation
              %li
                %a{ :href=>"#{site.issue_tracker}" } Issues
              %li
                %a{ :href=>"/community/" } Community
    ~ content
    %footer.footer
      .container
        %p.pull-right
          %a{ :href=>"#" } Back to top
        %img{:src=>"#{site.base_url}/images/modeshape_logo_300px.png"}
        %p
          ModeShape is a <a href="http://jboss.org/">JBoss Community</a> project.
          Code released under open source <a href="#{site.base_url}/license">licenses</a>.
          %br
          Website and documentation licensed under <a href="http://creativecommons.org/licenses/by/3.0/">CC BY 3.0</a>.
          %br
          Website built with <a href="http://twitter.github.com/bootstrap">Bootstrap</a> and <a href="http://awestruct.org">Awestruct</a>.
          Copyright 2008-#{DateTime.now.year} Red Hat, Inc.
          %br
          %br
          %a{ :href=>"#{site.terms_of_use}" } Terms of Use
          |
          %a{ :href=>"#{site.privacy_policy}" } Privacy Policy
          
    -# Uncomment script tags (remove leading -#) when you're ready to use behaviors
    %script{ :type=>'text/javascript', :src=>'//cdnjs.cloudflare.com/ajax/libs/jquery/1.7.1/jquery.min.js' }
    %script{ :type=>'text/javascript', :src=>"#{site.base_url}/javascripts/bootstrap-collapse.js" }
    %script{ :type=>'text/javascript', :src=>"#{site.base_url}/javascripts/bootstrap-affix.js" }
    %script{ :type=>'text/javascript', :src=>"#{site.base_url}/javascripts/bootstrap-scrollspy.js" }
